#root,
body,
html {
    height: 100%;
    background: #293742;
}

.css-jjvhql-MuiPaper-root {
    background-color: #293742;
}

.css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input{
}
.css-5gpn29-MuiTooltip-tooltip{
    font-size: 16px;
}