#root,
body,
html {
    height: 100%;
    background: #293742;
}

.css-jjvhql-MuiPaper-root {
    background-color: #293742;
}

.css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input {
}

.css-5gpn29-MuiTooltip-tooltip {
    font-size: 16px;
}

.MuiGrid-item {
    padding: 20px !important;
}


.codeBody {
    width: 500px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    padding: 30px 0;
    color: #b2d2eb;
    display: flow-root;
}

.codeBody h1 {
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
}

.codeBody .form-item {
    display: flex;
    line-height: 36px;
    margin: 20px 0;
    padding-right: 80px;
}

.codeBody .form-label {
    width: 90px;
    text-align: right;
}

.codeBody .form-content {
    width: 100%;
}

.codeBody .generatebody {
    text-align: center;
}

.codeBody .generatebody button {
    height: 36px;
    line-height: 38px;
    background-color: #0173e5;
    color: #fff;
    border: #0173e5;
    padding: 0 80px;
    border-radius: 5px;
    cursor: pointer;
}

.codeBody button[disabled] {
    opacity: 0.6;
    cursor: default;
}

.codeBody textarea {
    width: 300px;
    height: 100px;
    font-size: 16px;
    padding: 10px;
}

.codeBody .codeYes {
    color: #00d800;
    font-size: 14px;
}

.codeBody .codeNo {
    color: red;
    font-size: 14px;
}

.codeBody .line {
    border-bottom: 1px solid #d4d4d4;
}

.codeBody .tip {
    background-color: #ffedc4;
    color: #bb5a00;
    line-height: 30px;
    font-size: 12px;
    display: initial;
    padding: 8px 20px;
    margin: 10px auto;
}
.no-wifi{
    text-align: center;
    color: #b2d2eb;
}


.no-wifi img{
    width: 300px;
    height: auto;
}

.loading{
    text-align: center;
    color: #b2d2eb;
}


.loading img{
    width: 300px;
    height: auto;
}

